*.pyc
package.json
settings.json
logs/
docker_stderror
*.log
*.tgz
condor/*.txt
THsnapshot*.root
THselection*.root
THtrigger*.root
CondorHelper.py
dijet_nano/*.txt
THpileup.root
rootfiles*
plots
raw_nano/*.txt
highMassTprime/*.txt
*.txt
*.dot
*.root
